*{
    margin: 0px;
    padding: 0px;
}
body{
    background:url("bg.png")no-repeat center/cover;
    height: 605px;
}
/* navbar */
.navbar{
    font-family:Poppins,sans-serif;
   
    
}
.navbar  ul {
    
    display: flex;
    flex-direction:row;
    float: right;
    margin-top: -105px;
}
.navbar ul li{
    border: 2px solid red;
    margin-right: 54px;
    padding: 6px 4px 4px 6px;
    font-size: 24px;
    list-style-type: none;

}
.navbar ul li:hover{
     transition: all;
     transform: rotateX(45);
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}
.main {
    display: flex;
    margin-top: 130px;
    margin-left: 71px;
   width: 550px;
     text-align: center;
      justify-content: center;
}
h1{
    font-size: 45px;
    color: white;
}
.main p{
    margin-top: 55px;
    width: 194px;
    margin-left: -190px;
    font-size: 35px;
    color: white;
   
}
#one{
    margin-top: 100px;
    font-weight: bold;
    color:rgba(53, 17, 105, 0.742);
}
#one:hover{
    color: white;
    
}


#para{
    display: flex;
    width: 500px;
    margin-top: 20px;
    margin-left: 94px;
    text-align: center;
    color: rgb(16, 1, 25);
    font-weight: 900;
    font-family:Poppins,sans-serif;
}


